* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

/* Main container */
.container {
    display: flex;
    width: 100%;
    flex: 1;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: white;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid #EFEFEF; */
}

/* Logo Container */
.logo img {
    width: 15dvw;
    height: auto;
}

/* Navigation Buttons */
.sidebar-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.nav-btn {
    width: 22dvh;
    height: 18dvh;
    padding: 18px 20px;
    border: none;
    font-weight: 400;
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}

.home-btn {
    background-color: #01A79D;
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;
    transition: all 0.5s ease; 
}

.home-btn:hover {
    background-color: white;
    border: 2px solid #01A79D;
    transform: translateY(-2px);
}

.home-btn a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease;
}

.home-btn:hover a {
    color: #01A79D;
}

.logout-btn {
    background-color: #FBB040;
    border: none;
    /* padding: 10px 20px; */
    cursor: pointer;
    transition: all 0.5s ease;
}

.logout-btn:hover {
    background-color: white;
    border: 2px solid #FBB040;
    transform: translateY(-2px);
}

.logout-btn a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s ease;
}

.logout-btn:hover a {
    color: #FBB040;
}

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.video-container {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 80dvw;
    height: 75dvh;
    object-fit: cover;
    border-radius: 0 0 0 10px;
    border-left: 8px solid #00a3a3;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

/* Bottom Bar Full Width */
.bottom-bar {
    background-color: white;
    text-align: center;
    padding: 16px 20px;
    width: 100vw;
    left: 0;
    box-sizing: border-box;
}

.bottom-bar h3 {
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    color: #555;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Progress bar */
.progress-track {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 12px auto 0;
    border-radius: 6px;
    overflow: hidden;
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 0%;
    background: #f4b400;
    border-radius: 6px;
    transition: width 1s linear;
}

.bus-icon {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
    transition: left 1s linear;
}


.bus-icon img {
    height: 100px;
}

/* Animations */
@keyframes fillProgress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes moveBusIcon {
    0% {
        left: 0%;
    }

    100% {
        left: calc(100% - 30px);
    }
}